.formularios {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.comentar,
.entrar,
.compartilhar {
    position: relative;
    top: 5.6vw;
    left: 50%;
    transform: translateX(-50%);
    width: 27vw;
    height: 80.75vh;
    max-height: 38.75vw;
    background-color: var(--menu-cor);
    border: var(--borda-menu);
    border-radius: 1vw;
    padding: .5vw;
    overflow-y: auto;
    display: none;
}

.form {
    margin: 1vw;
}

.form .subtitulo {
    text-align: center;
    font-size: calc(var(--font-size-js) * 1.5vw);
    font-weight: 400;
    color: var(--cor-menu-2);
}

.formularios .texto {
    color: var(--cor-text-menu);
    display: block;
}

.formularios label {
    margin: 1vw 0 .5vw 0;
}

.formularios .input {
    margin: auto;
    background-color: transparent;
    padding: .25vw 1vw;
    width: 20vw;
    border-radius: .5vw;
    border: var(--borda-menu);
}

.comentar .mensagem {
    height: 10vw;
}

.formularios .bnt {
    margin-top: 1.5vw;
    transform: translateX(calc(-50% + 1vw));
}

.formularios .bnt:hover {
    transform: translateX(calc(-50% + 1vw)) scale(1.05);
}

.form .sair {
    position: absolute;
    padding: .5vw 1vw;
    top: -.5vw;
    left: auto;
    right: 0;
}

.entrar {
    height: 82.5vh;
    top: 5.5vw;
    max-height: 40vw;
}

.entrar .form {
    margin: .75vw 1vw .5vw 1vw;
}

.entrar label:first-of-type {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 9vw;
    height: 9vw;
    border: var(--borda-menu);
    border-radius: 50%;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.entrar label:first-of-type .texto {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: calc(var(--font-size-js) * 1.5vw);
}

.entrar input[type="file"] {
    display: none;
}

.compartilhar {
    top: 7.5vw;
    height: 20vw;
    width: 28vw;
}

.compartilhar .lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 1.5vw;
    margin-left: 2.5vw;
}

.compartilhar .itens {
    margin: .25vw 0;
}

.compartilhar .itens:last-of-type {
    grid-column: span 2;
    margin-left: .75vw;
    margin-top: 1vw;
}

.compartilhar .itens:last-of-type span {
    font-size: calc(var(--font-size-js) * 1.25vw);
    display: block;
    margin-left: -.75vw;
}

.compartilhar .icone {
    margin-right: 1vw;
    scale: 1.5;
}

/* tablet */
@media (max-width: 850px) {

    .comentar,
    .entrar,
    .compartilhar {
        top: 17.5vw;
        width: 40vw;
        height: 60vw;
        max-height: 60vw;
        padding: .75vw;
    }

    .form {
        margin: 1.5vw;
    }

    .form .subtitulo {
        font-size: calc(var(--font-size-js) * 2.8vw);
        margin-top: -.5vw;
    }

    .formularios label {
        margin: 1.75vw 0 1vw 0;
    }

    .formularios .input {
        padding: .35vw 1.75vw;
        width: 27.5vw;
    }

    .comentar .mensagem {
        height: 12vw;
    }

    .formularios .bnt {
        margin-top: 1.75vw;
        transform: translateX(calc(-50% + 1.5vw));
    }

    .formularios .bnt:hover {
        transform: translateX(calc(-50% + 1vw)) scale(1);
    }

    .entrar {
        top: 17.5vw;
        height: 64.5vw;
        max-height: 64.5vw;
    }

    .entrar .form {
        margin: .75vw 1.5vw 1vw 1.5vw;
    }

    .entrar label:first-of-type {
        width: 12vw;
        height: 12vw;
    }

    .entrar label:first-of-type .texto {
        font-size: calc(var(--font-size-js) * 2vw);
    }

    .compartilhar {
        top: 25vw;
        width: 50vw;
        height: 34vw;
    }

    .compartilhar .lista {
        margin-top: 3vw;
        margin-left: 5vw;
    }

    .compartilhar .texto {
        font-size: calc(var(--font-size-js) * 1.9vw);
    }

    .compartilhar .itens {
        margin: .5vw 0;
    }

    .compartilhar .itens:last-of-type span {
        font-size: calc(var(--font-size-js) * 2.3vw);
    }

    .compartilhar .icone {
        margin-right: 2vw;
    }
}

/* celular */
@media (max-width: 500px) {

    .comentar,
    .entrar,
    .compartilhar {
        top: 16vw;
        width: 71vw;
        height: 84.5vw;
        max-height: 84.5vw;
        border-radius: 2vw;
    }

    .form .subtitulo {
        font-size: calc(var(--font-size-js) * 4vw);
        margin-top: -.5vw;
    }

    .formularios label {
        margin: 1.75vw 0 1.5vw 0;
    }

    .formularios .input {
        width: 55vw;
    }

    .comentar .mensagem {
        height: 15vw;
    }

    .formularios .bnt {
        left: calc(50% - 1.75vw);
    }

    .form .sair {
        left: auto;
        right: -.5vw;
        font-size: calc(var(--font-size-js) * 3.25vw);
    }

    .entrar {
        top: 16.5vw;
        height: 92vw;
        max-height: 92vw;
    }

    .entrar .form {
        margin: 1vw 1.5vw 1.5vw 1.5vw;
    }

    .entrar label:first-of-type {
        width: 17.5vw;
        height: 17.5vw;
    }

    .entrar label:first-of-type .texto {
        font-size: calc(var(--font-size-js) * 3.75vw);
    }

    .compartilhar {
        top: 35vw;
        width: 80vw;
        height: 58vw;
    }

    .compartilhar .lista {
        margin-top: 4vw;
        margin-left: 9vw;
    }

    .compartilhar .texto {
        font-size: calc(var(--font-size-js) * 3.25vw);
    }

    .compartilhar .itens {
        margin: 1vw 0;
    }

    .compartilhar .itens:last-of-type {
        margin-top: 3vw;
    }

    .compartilhar .itens:last-of-type span {
        font-size: calc(var(--font-size-js) * 3.6vw);
    }

    .compartilhar .icone {
        margin-right: 3vw;
    }
}