.template {
    position: relative;
    padding: 8.5vw 0 10vw 0;
}

.template.claro {
    border-bottom: var(--borda);
}

.template::before {
    top: 0;
    left: 0;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;
    filter: opacity(.5) brightness(60%);
}

.template.claro::before {
    filter: opacity(.7) brightness(50%);
}

.template::after {
    content: '';
    top: calc(var(--font-size-js) * 1vw);
    height: 100%;
    left: 0;
    background: linear-gradient(to top, var(--cor-principal) 7%, var(--cor-principal-deg) 25%, transparent);
    z-index: -1;
}

.template.claro::after {
    background: var(--cor-principal);
    top: 0;
    z-index: -3;
}

.template .conteudo {
    margin-left: 19vw;
    width: 70vw;
}

.template .titulo {
    background-image: linear-gradient(to right, var(--cor-titulo), var(--cor-texto));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: calc(var(--font-size-js) * 3.85vw);
    line-height: 4.5vw;
    margin-bottom: 1.5vw;
}

.template .titulo.claro {
    background-image: none;
    -webkit-text-fill-color: rgb(17, 17, 17);
}

.template .titulo.claro.tituloColor {
    -webkit-text-fill-color: var(--cor-titulo);
}

.template .texto {
    margin-left: 1vw;
}

.template .texto.claro {
    color: rgb(17, 17, 17);
    font-weight: 600;
}

.template .texto.claro.txtColor {
    color: var(--cor-texto);
}

/* topicos  */

.topicos {
    position: relative;
    padding: 1.5vw 0 2.5vw 0;
    background-color: var(--cor-principal);
    transition: none;
}

.topicos.claro {
    transition: background-color 1s;
}

.topicos .titulo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(var(--font-size-js) * 2vw);
    color: var(--cor-titulo);
    margin-bottom: 1.5vw;
    display: inline-block;
}

.topicos_lista {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
}

.topicos_lista .itens {
    margin: .25vw .5vw;
}

/* sla */
.topicos_lista a:before {
    content: '\2022';
    transform: scale(1.5);
    color: var(--cor-texto);
    margin: 0 1vw 0 .5vw;
}

.topicos_lista a {
    display: flex;
    align-items: center;
    width: 23vw;
    height: calc(var(--font-size-js) * 3.5vw);
    border: solid .01vw transparent;
    border-radius: .5vw;
    transition: .25s ease-in-out;
    text-decoration: none;
}

.topicos_lista a:hover {
    background-color: rgba(255, 255, 255, 0.055);
    transform: scale(1.025);
    border: var(--borda);
}

.topicos_lista .texto {
    line-height: calc(var(--font-size-js) * 1.35vw);
}

/* acessbilidade */

.menu_audio {
    position: fixed;
    bottom: 2.5vw;
    transform: translateX(-100%);
    left: 0;
    z-index: 5;
    background-color: var(--menu-cor);
    border: var(--borda-menu);
    border-left: none;
}

.menu_audio.transition {
    transition: all 1s;
}

.menu_audio.menuAudio_aberto {
    transform: translateX(0%);
}

.clic_audio {
    position: absolute;
    left: calc(100% - .1vw);
    top: 51%;
    transform: translateY(-50%);
    background-color: var(--menu-cor);
    height: 70%;
    width: 3.25vw;
    border-radius: 0 1vw 1vw 0;
    border: var(--borda-menu);
    border-left: none;
}

.clic_audio .fa-volume-up {
    position: relative;
    top: 1.35vw;
    left: .8vw;
    color: var(--cor-menu-2);
    transform: rotate(-90deg);
}

#audio_input {
    display: none;
}

.menu_audio audio {
    position: relative;
    width: 30vw;
    margin: .75vw;
}

.menu_audio audio::-webkit-media-controls-enclosure {
    padding: 1vw;
    border-radius: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.menu_audio audio::-webkit-media-controls-panel {
    padding: .5vw;
    filter: invert(100%);
    transform: scale(1.1);

}

.menu_audio audio::-webkit-media-controls-current-time-display,
.menu_audio audio::-webkit-media-controls-time-remaining-display {
    color: var(--cor-menu-2);
    font-size: calc(var(--font-size-js) * 1vw);
    filter: invert(100%);
    margin-left: 1vw;
}

.menu_audio audio::-webkit-media-controls-play-button {
    transform: scale(2);
}

/* tablet */
@media (max-width: 850px) {
    .template {
        padding: 10vw 0;
    }

    .template .conteudo {
        margin-left: 12vw;
        width: 75vw;
    }

    .template .titulo {
        font-size: calc(var(--font-size-js) * 5vw);
        line-height: calc(var(--font-size-js) * 5vw);
        margin-bottom: 1.25vw;
    }

    .template .texto {
        margin-left: 2.5vw;
    }

    .topicos {
        padding: 3.5vw 5vw;
    }

    .topicos .titulo {
        font-size: calc(var(--font-size-js) * 3.25vw);
    }


    .topicos_lista a:before {
        transform: scale(1);
        margin: 0 1vw 0 1vw;
    }

    .topicos_lista a {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin: .5vw;
        height: auto;
    }

    .topicos_lista a:hover {
        border: none;
        background-color: transparent;
        transform: scale(1) translateY(-50%);
    }

    .topicos_lista .texto {
        line-height: calc(var(--font-size-js) * 2.5vw);
        font-size: calc(var(--font-size-js) * 2vw);
    }

    /* acessbilidade */

    .menu_audio {
        bottom: 5vw;
    }

    .clic_audio {
        height: 70%;
        width: 5vw;
        border-radius: 0 2vw 2vw 0;
    }

    .clic_audio .fa-volume-up {
        top: 2vw;
        left: 1vw;
    }

    .menu_audio audio {
        width: 45vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 1.85vw);
    }

    .menu_audio audio::-webkit-media-controls-play-button {
        transform: scale(1.25);
    }
}

/* celular  */
@media (max-width: 500px) {

    .template {
        padding: 22.5vw 0 8vw 0;
    }

    .template::before {
        top: 15vw;
    }

    .template .conteudo {
        margin-left: 5vw;
        width: 90vw;
    }

    .template .titulo {
        font-size: calc(var(--font-size-js) * 8.5vw);
        line-height: calc(var(--font-size-js) * 8.5vw);
        margin-bottom: 3vw;
    }

    .template .titulo.txt_120 {
        font-size: 10.2vw;
        line-height: 10.2vw
    }

    .template .texto {
        margin-left: 2vw;
    }

    .topicos {
        padding: 3.5vw 0;
    }

    .topicos_lista {
        grid-template-columns: 1fr;
        padding: 0 5vw;
    }

    .topicos .titulo {
        left: 15vw;
        font-size: calc(var(--font-size-js) * 4.25vw);
    }


    .topicos_lista a:before {
        transform: scale(.5);
    }

    .topicos_lista a {
        margin: calc(var(--font-size-js) * .5vw) 0 calc(var(--font-size-js) * .5vw) 4vw;
        width: 80vw;
    }

    .topicos_lista .texto {
        line-height: calc(var(--font-size-js) * 4vw);
        font-size: calc(var(--font-size-js) * 3.5vw);
    }

    /* acessbilidade */

    .menu_audio {
        bottom: 15vw;
    }

    .clic_audio {
        width: 7.5vw;
        border-radius: 0 2.75vw 2.75vw 0;
    }

    .clic_audio .fa-volume-up {
        top: 3vw;
    }

    .menu_audio audio {
        width: 75vw;
    }

    .menu_audio audio::-webkit-media-controls-current-time-display,
    .menu_audio audio::-webkit-media-controls-time-remaining-display {
        font-size: calc(var(--font-size-js) * 2.75vw);
    }

}